{% include base_path %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<li>
  <strong>{{ title }}</strong>

  {% if post.citation %}
    <br>{{ post.citation }}
  {% else %}
    {% assign status = post.status | default: "published" %}
    {% if status == "published" %}
      <br>{{ post.authors }} — {{ post.venue }}, {{ post.date | date: "%Y" }}
    {% elsif status == "under_revision" %}
      <br>{{ post.authors }} — Under revision in {{ post.venue }}, {{ post.date | date: "%Y" }}
    {% elsif status == "in_preparation" %}
      <br>{{ post.authors }} — In preparation
    {% endif %}
  {% endif %}
</li>
